.modal-open {
  overflow: hidden;
}
body,
html {
  scroll-behavior: smooth;
}

/* #scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #4F2EE8;
    border: none;
    overflow: hidden;
} */

/* .scroll-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
} */

/* #scroll-btn:hover .scroll-icon {
    transform: translateY(-10px) scale(1.2);
}

#scroll-btn:hover {
    box-shadow: 0 0 20px rgb(79, 46, 232);
} */

.close {
  color: #111;
  position: fixed;
  top: 60px;
  right: 40px;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* стилі для телефону */
.overley {
  z-index: 1035;
  background: rgba(17, 17, 17, 0.4);
  opacity: 0.7;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  z-index: 1040;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.modal .modal-1 {
  left: 6%;
  top: 6%;
  touch-action: none;
  z-index: 10000;
  position: fixed;
}
.text-content-modal {
  display: flex;
  width: 287px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.title-name-content-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.modal-content {
  background-color: #fefefe;
  display: flex;
  padding: 40px 24px;
  width: 287px;
  height: 668px;
  border-radius: 18px;
  border: 2px solid #111;
  flex-direction: column;
  align-items: center;
}

.modal-image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.modal-title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
}

.modal-author {
  width: 287px;
  flex-shrink: 0;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.modal-description {
  width: 287px;
  height: 70px;
  flex-shrink: 0;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.modal-button {
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
}

/* стилі для планшету */

@media screen and (min-width: 768px) {
  .modal-content {
    padding: 40px 40px 40px 40px;
    display: flex;
  }

  .text-content-modal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
  }

  .modal-image {
    width: 192px;
    height: 281px;
  }

  .modal-title {
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
  }

  .modal-author {
    width: 287px;
    flex-shrink: 0;
    color: #b4afaf;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.48px;
    margin-bottom: 18px;
  }

  .modal-description {
    width: 287px;
    height: 70px;
    flex-shrink: 0;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .modal-button {
    padding: 20px 148px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.18px;
  }
}
